/* src/pages/Home.css */
.home-container {
    text-align: center;
    padding: 20px;
    background-color: #f4f7f6;
  }
  
  h1 {
    font-size: 3rem;
    color: #333;
  }
  
  p {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  nav {
    margin-top: 30px;
  }
  
  .link-button {
    font-size: 1.2rem;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .link-button:hover {
    background-color: #0056b3;
  }
  